/* Disabilita lo sfondo azzurro quando si clicca su un elemento */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    /* Disabilita il menu di contesto su iOS */
    -webkit-user-select: none;
    /* Disabilita la selezione del testo su iOS */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', serif;
}

